
$kh-blue: #00004B;
$kh-highlight: #2C2C6A;
$kh-pink: #E21A9A;
$kh-red: #e21a21;
$kh-green: #9FC42C;
$kh-success: #589f07;
$kh-white: #F1F1F3;
$kh-light: #c8c8c9;
$kh-black: #202124;
$kh-gray: #252524;
$kh-silver: #7F7F7F;

$pr-purple: #8256D0;
