@import './colors';

@mixin normalize {
    box-sizing: initial;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

@mixin container-base {
    max-height: 80vh;
    min-width: 1000px;
    width: 1000px;
    max-width: 1000px;
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid $kh-silver;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: initial;

    *, div, input, span, a {
        @include normalize;
    }
}
